<div class="row">
    <div class="col-xs-10">
      <app-truck-edit></app-truck-edit>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">trailerWeight</th>
            <th scope="col">Owner</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td colspan="5" class="alert alert-danger" ></td>
          </tr> -->
       <tr *ngFor="let truck of trucks">
            <th scope="row">{{truck.id}}</th>
            <td>{{truck.name}}</td>
            <td>{{truck.price}}</td>
            <td>{{truck.trailerWeight}}</td>
            <td>{{truck.owner}}</td>
            <th>
              <a >delete</a>
            </th>
          </tr>
        </tbody>
      </table>
 
    </div>
  </div>
  